@import '~@fluentui/react/dist/sass/References.scss';

.board {
    min-width: 290px;
    max-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.board_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.board_header_title {
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    gap: 5px;
    align-items: center;

    span {
        color: rgb(145, 145, 145);
    }
}

.board_header_title_more {
    cursor: pointer;
    position: relative;
}

.board_dropdown {
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.12);
    padding: 20px;
    width: 150px !important;
    cursor: default;

    p {
        border-bottom: 1px solid #f8f8f8;
        cursor: pointer;
    }
}

.board_cards {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.custom_scroll::-webkit-scrollbar {
    width: 8px;
}

.custom_scroll::-webkit-scrollbar-thumb {
    border-radius: 30px;
    border: 1px solid #ccc;
    background-color: #fff;

    &:hover {
        background-color: #ccc;
    }
}

.board_add_card {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.12);
    width: 100%;
    text-align: center;
}

.board_add_card_edit {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}