.credential_form_div {
    display: flex;
    justify-content: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.credential_form {
    border: 5px solid #f1f1f1;
    text-align: center;
    
    img {
        width: 20%;
    }
}

.input_field {
    width: 100%;
    padding: 16px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

    &:focus {
        outline: none;
        border: 1px solid #274a70;
    }
}

.submit_btn {
    background-color: #274a70;
    color: white;
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;

    &:hover {
        opacity: 0.8;
    }
}

.formcontainer {
    text-align: left;
    margin: 5px 50px 12px;
}

.container {
    padding: 16px 0;
    text-align: left;
}
